@media screen and (max-width: 700px) {
  .title-responsive {
    font-size: 1rem !important;
  }
  .subHeader-responsive {
    font-size: 0.7rem !important;
  }
}
.extras {
  display: none !important;
}
@media screen and (max-width: 767px) {
  .extras {
    display: block !important;
    text-decoration: none;
  }
  .displayNone {
    display: none;
  }
}
.extrasticky {
  position: static;
  top: 0;
}
