.job-profile-detail {
    display: flex;
    flex-direction: wrap;

  }
  
  .details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 1 300px;
    /* background-color: #f1f1f1; */
    padding: 20px;
    border-radius: 5px;

  }
  
  .column {
    flex: 1 1 300px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
  }
  